hypr/.config/hypr/monitors.conf
hypr/.config/hypr/wallpaper_effects/.wallpaper_current
hypr/.config/hypr/wallust/wallust-hyprland.conf
hypr/.config/hypr/workspaces.conf

neovim/.config/nvim/lazy-lock.json
neovim/.config/nvim/plugged/

vim/.vim/.netrwhist
vim/.vim/autoload/
vim/.vim/plugged/
vim/.vim/spell/

waybar/.config/waybar/wallust/colors-waybar.css

ghostty/.config/ghostty/device-specific
